// src/styles/variables.scss
//home
$home-slider-width: 250px;
$home-slider-bg: rgb(7, 59, 76);
$home-slider-min-width: 50px;

$home-tabbar-height: 50px;
$home-tabbar-bg: rgb(241, 240, 240);

$home-main-bg: rgb(255, 255, 255);

$home-logo-height: 60px;